<h1>Confirmation Code</h1>
<h2>
    We sent a text message to <%= session[:phone] %> with your verification code.
</h2>

<%= form_tag sessions_path do %>
  <p>
    Verification Code:
    <%= text_field_tag :vcode, params[:vcode] %>
    <%= submit_tag "verify" %>
  </p>
<% end %>