<%= form_tag devices_path do %>
    Device Class
    <%= select_tag :first_char, "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option>".html_safe %>
    <%= submit_tag "Create New Device" %>
<% end %>

